<div ng-controller="welcomedashboard.controller">
    <h1>Welcome to my awesome dashboard</h1>
    <p>In here you can do what you want, it's just a view with an angular controller.</p>
    <p>You can load some stats, provide links to useful documentation, show random cat videos..</p>
    <p>This dashboard lives in the App_Plugins folder under /My_Awesome_Dashboard, required files are loaded according to the package.manifest file.</p>
    <p>To make this dashboard appear here, the ~/config/dashboard.config file was edited, and a new section added. You will need to define the area in which you want the dashboard to appear, the caption for the tab (title), any access rules (deny/approve specific user groups) and the control (view) to display.</p>
    <p>Dashboards should be ordered in the dashboard.config file according to the order in which you need them to display.</p>
</div>